#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.header-text{
  padding-left: 20px;
}
.header-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-btn{
  border: none;
  color: white;
  padding-right: 20px;
}
ul{
  font-size: larger;
  list-style-type: none;
}
